[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/jordanrobot/minimal.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
